# String Function

### len() 
Returns the length of the string

In [1]:
str='elearner365'
len(str)

11

It counts every character written in the quoes even white spaces also.

In [2]:
str='elearner 365'
len(str)

12

In [3]:
str="hello @learner wish you a happy day"
len(str)

35

### count()

Returns the number of times a specified value occurs in a string.
You need to give argument in this.

In [4]:
str="welcome"
str.count('e')

2

Without any argument.

In [5]:
str.count()

TypeError: count() takes at least 1 argument (0 given)

In [ ]:
str='heLlo @12345 welcOMe'

In [ ]:
str.count('l')

In [ ]:
str.count('o')

You can also give range to it and it will search within that range.
Its default is from 0 postion to end of the string.

In [ ]:
str.count('@123',7,19)

In [ ]:
str.count('@123',1,20)

It also count white spaces.

In [ ]:
str.count(' ')

### capitalize()
Returns the exact copy of the string with only the first letter in upper case

In [ ]:
str='hello @learner'
str.capitalize()

In [ ]:
str='HeLlO @leARnEr'
str.capitalize()

### title()
Return with first letter of each word in a string with uppercase

In [ ]:
'hello learners'.title()

It follows the rule of title. First alphabet should be uppercase and remaining should be lower case.

In [ ]:
'heLLO LEArners'.title()

In [ ]:
'hello @learners'.title()

### lower()
Return the exact copy of the string with all the letters in lowercase.

In [ ]:
'HELLO leaRNER'.lower()

In [ ]:
'hELlo @lEARner 12345'.lower()

### upper()
Return the exact copy of the string with all the letters in lowercase.

In [ ]:
'HELLO leaRNER'.upper()

In [ ]:
'hELlo @lEARner 12345'.upper()

### casefold()

Converts string into lower case

In [ ]:
str='123 WE SHouLD W@Lk REgul@rly'

In [ ]:
str.casefold()

It is similar to lower case. 

But the casefold() method converts more characters into lower case.

In [ ]:
str = 'ß'
str.casefold()

In [ ]:
str ='ß'
str.lower()

### swapcase()

Swaps cases, lower case becomes upper case and vice versa

In [ ]:
'this IS JUPyter NoTbOoK.@245'.swapcase()

### islower()
Returns True if all the characters are in lower case, otherwise False.

In [ ]:
'HELLO leaRNER'.islower()

In [ ]:
'hello learner'.islower()

In [ ]:
'hello @learner 12345'.islower()

### isupper()
Returns True if all the characters are in uppercase, otherwise False.

In [ ]:
'HELLO leaRNER'.isupper()

In [ ]:
'HELLO LEARNER'.isupper()

In [ ]:
'HELLO @LEARNER 12345'.islower()

### isalnum()

Returns True if all characters in the string are alphanumeric(alphabets and numbers).

In [ ]:
string='alphanumeric 1234'
string.isalnum()

In [ ]:
string='alphanumeric1234'
string.isalnum()

alphabet cases doesn't matter.

In [ ]:
string='aLPHAumeric1234'
string.isalnum()

### isalpha()

Return true if all the character in a string are alphabet.

In [ ]:
string='aLPHAbets1234'
string.isalpha()

In [ ]:
string='aLPHAbetsonly'
string.isalpha()

In [ ]:
string='@LPHAbetsonly'
string.isalpha()

### isascii()

Returns True if all characters in the string are ascii characters.

In [ ]:
string='@sciicharacters'
string.isascii()

In [ ]:
string='@ascii characters '
string.isascii()

In [ ]:
string='124 @ madhubala'
string.isascii()

### isdecimal()

Returns True if all characters in the string are decimals

In [ ]:
str="12345"
str.isdecimal()

In [ ]:
str='123.90'
str.isdecimal()

In [ ]:
str='123 123'
str.isdecimal()

In [ ]:
str='123er123'
str.isdecimal()

### isdigit()
Returns True if all characters in the string are digits

In [ ]:
str="1234@"
str.isdigit()

In [ ]:
str="1234"
str.isdigit()

In [ ]:
str="1234.00"
str.isdigit()

In [ ]:
a = "\u0030" #unicode for 0
print(a.isdigit())

In [ ]:
b = "\u00B2" #unicode for ²
print(b.isdigit())

### isnumeric()
Returns True if all characters in the string are numeric

In [ ]:
str="1234"
str.isnumeric()

In [ ]:
str="1234 asdf"
str.isnumeric()

In [ ]:
str="1234asdf"
str.isnumeric()

In [ ]:
str="1234.00"
str.isnumeric()

isdecimal() method supports only Decimal Numbers.

isdigit() method supports Decimals, Subscripts, Superscripts.

isnumeric() method supports Digits, Vulgar Fractions, Subscripts, Superscripts, Roman Numerals, Currency Numerators.

In [ ]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

print(a.isdigit())
print(b.isdigit())
print(c.isdigit())
print(d.isdigit())
print(e.isdigit())

print(a.isdecimal())
print(b.isdecimal())
print(c.isdecimal())
print(d.isdecimal())
print(e.isdecimal())

### isspace()
Returns True if all characters in the string are whitespaces

In [ ]:
'   '.isspace()

In [ ]:
str='   er   '
str.isspace()

### isidentifier()
Returns True if the string is an identifier

It compare the string with identifiers rule and if it pass the condition then it return true otherwise false.

In [ ]:
str='foridentifier'
str.isidentifier()

In [ ]:
str='for identifier'
str.isidentifier()

In [ ]:
str='for_identifier'
str.isidentifier()

### istitle()
Returns True if the string follows the rules of a title

First character of each word in a string should be uppercase and other should be lowercase

In [ ]:
'Hello, and welcome'.istitle()

In [ ]:
'Hello, And Welcome'.istitle()

In [ ]:
'@123 Come Here'.istitle()

### isprintable()
Returns True if all characters in the string are printable.

In [ ]:
str='Hello @1123 you are welcome here.'
str.isprintable()

In [ ]:
str='Hello @1123 \n you are welcome here.'
str.isprintable()

Here '\n' doesn't get print.The new line character in Python is \n . It is used to indicate the end of a line of text.

### center()
It center align the string, using a specified character (space is default) as the fill character. 

It need parameter.

In [ ]:
str='Hello'
str.center(20)

you can also change its default value.

In [ ]:
str='Hello'
str.center(20,'*')

### join()
It takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

In [ ]:
mylist=['hello','and','welcome']
','.join(mylist)

In [ ]:
mytuple=('hello','and','welcome')
'*'.join(mytuple)

In [ ]:
mydict={'name':'madhubala','age':'14'}
'`'.join(mydict)

### encode()
This method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

In [ ]:
str="My name is madhubåla"
str.encode()

In [ ]:
str='my name ia madhubala'
str.encode()

encoding:-Optional. A String specifying the encoding to use. Default is UTF-8

errors:-Optional. A String specifying the error method.

##### 'backslashreplace'	-
uses a backslash instead of the character that could not be encoded

##### 'ignore'	- 
ignores the characters that cannot be encoded

##### 'namereplace'	-
replaces the character with a text explaining the character

##### 'strict'	- 
Default, raises an error on failure

##### 'replace'	- 
replaces the character with a questionmark

##### 'xmlcharrefreplace'	- 
replaces the character with an xml character

In [ ]:
str = "My name is Ståle"

print(str.encode(encoding="ascii",errors="backslashreplace"))
print(str.encode(encoding="ascii",errors="ignore"))
print(str.encode(encoding="ascii",errors="namereplace"))
print(str.encode(encoding="ascii",errors="replace"))
print(str.encode(encoding="ascii",errors="xmlcharrefreplace"))

### endswith()
This method returns True if the string ends with the specified value, otherwise False.

In [6]:
str="i am eating a banana"
str.endswith('banana')

True

It has parameter(value, start, end). start and end is optional.

In [7]:
str.endswith('banana',2,15)

False

In [8]:
str.endswith('am eating',0,15)

False

In [9]:
str.endswith('am eating',0,11)

True

In [10]:
str.endswith('am eating',0,12)

False

Here last character id white space.

### expandtabs()
This method sets the tab size to the specified number of whitespaces.

In [11]:
str='kids\tare\tsleep\ting at\tthe\tmoment'
str.expandtabs()

'kids    are     sleep   ing at  the     moment'

The default tabsize is 8(The tab stops are 8, 16 and so on). you can chage it according to your wish.

In [12]:
str='kids\tare\tsleep\ting at\tthe\tmoment'
print(str.expandtabs(6)) # The tab stops are 6, 12, 18, 24 and so on
print(str.expandtabs(4)) # The tab stops are 4, 8, 12, 16 and so on
print(str.expandtabs(3)) # The tab stops are 3, 6, 9, 12 and so on
print(str.expandtabs(2)) # The tab stops are 2, 4, 6, 8 and so on
print(str.expandtabs(1)) # The tab stops are 1, 2, 3, 4 and so on

kids  are   sleep ing at      the   moment
kids    are sleep   ing at  the moment
kids  are   sleep ing at   the   moment
kids  are sleep ing at  the moment
kids are sleep ing at the moment

### format()
This method formats the specified value(s) and insert them inside the string's placeholder.

In [13]:
str='Tommorrow {} and {} before you know'
str.format('comes','goes')

'Tommorrow comes and goes before you know'




You can use it in many ways

In [14]:
'Tommorrow {} and {} before you know'.format('comes','goes')

'Tommorrow comes and goes before you know'

In [15]:
'Tommorrow {0} and {1} before you know'.format('comes','goes')

'Tommorrow comes and goes before you know'

In [16]:
'Tommorrow {1} and {1} before you know'.format('comes','goes')

'Tommorrow goes and goes before you know'

In [17]:
'Tommorrow {a} and {b} before you know'.format(a='comes',b='goes')

'Tommorrow comes and goes before you know'

In [18]:
'the value of pi is={}'.format(3.14)

'the value of pi is=3.14'

### Index() 
Searches the string for a specified value and returns the position of where it was found.

it takes parameter.

In [19]:
str='we have already eaten'
print(str.index('a'))
print(str.index('we'))

4
0

In [20]:
str.index('we',3,8)

ValueError: substring not found

### maketrans()
This method returns a mapping table that can be used with the translate() method to replace specified characters.

In [21]:
a= "Hello Madhubala!"
b= a.maketrans("Ma", "Sa")
print(a.translate(b))

Hello Sadhubala!

In [22]:
a = "Good night Ram!"
x = "mRa"
y = "mSa"
z = "odnght"
b=a.maketrans(x, y, z)
print(a.translate(b))

G i Sam!

In [23]:
'''if'''

print(a.maketrans(x,y,z))

{109: 109, 82: 83, 97: 97, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

The maketrans() method itself returns a dictionary describing each replacement, in unicode:

### translate()
method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

In [24]:
#use a dictionary with ascii codes to replace 84 (T) with 82 (R):
mydict = {84:  82}
a = "Hello Tam!"
print(a.translate(mydict))

Hello Ram!

In [25]:
a = "Good night Ram!"
mydict = {109: 109, 82: 83, 97: 97, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(a.translate(mydict))

G i Sam!

### zfill()
method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

In [26]:
a = "50"

x = a.zfill(10)

print(x)

0000000050

In [27]:
a='123'
b='hello how are you'
c='10 fingers'
print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(20))

0000000123
hello how are you
000000000010 fingers

### find() 
The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.

In [28]:
'it is fun today isn`t it'.find('i')

0

In [29]:
'it is fun today isn`t it'.find('i',10)

16

In [30]:
'it is fun today isn`t it'.find('i',10,15)

-1

### lstrip()
Returns a left trim version of the string.

In [31]:
'     hello'.lstrip()

'hello'

In [32]:
'      hello      '.lstrip()

'hello      '

In [33]:
'''with parameters'''

',,,,....dfgs.hello,,..'.lstrip(',.gdfs')

'hello,,..'

In [34]:
',,,,.....hesslldfgo,,..'.lstrip(',.gdfs')

'hesslldfgo,,..'

In [35]:
',,,,.....hesslldfgo,,..'.lstrip(4)

TypeError: lstrip arg must be None or str

### rstrip()
Returns a right trim version of the string.

In [36]:
'hello     '.rstrip()

'hello'

In [37]:
'      hello      '.rstrip()

'      hello'

In [38]:
'''with parameters'''

',,,,....hellodfgs.,,..'.rstrip(',.gdfs')

',,,,....hello'

In [39]:
',,,,.....hesslldfgo,,..'.rstrip('gdfs,.')

',,,,.....hesslldfgo'

### ljust()

method will left align the string, using a specified character (space is default) as the fill character.

In [40]:
str='its sleeping time'.ljust(50,'😴')
x=(str,'lets go to sleep')
print(x)

('its sleeping time😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴', 'lets go to sleep')

its default is white spaces

In [41]:
str='its sleeping time'.ljust(50)
x=(str,'lets go to sleep')
print(x)

('its sleeping time                                 ', 'lets go to sleep')

### rjust()
 method will right align the string, using a specified character (space is default) as the fill character.

In [42]:
str='its sleeping time'.rjust(50,'😴')
x=(str,'lets go to sleep')
print(x)

('😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴😴its sleeping time', 'lets go to sleep')

### partition()
 method searches for a specified string, and splits the string into a tuple containing three elements

In [43]:
'i like to eat bananas.they are tasty'.partition('bananas')

('i like to eat ', 'bananas', '.they are tasty')

In [44]:
'i like to eat bananas  .  they are tasty'.partition('  .  ')

('i like to eat bananas', '  .  ', 'they are tasty')

if you put something which is not in our string

In [45]:
'i like to eat bananas.they are tasty'.partition('apples')

('i like to eat bananas.they are tasty', '', '')

### replace()
 method replaces a specified phrase with another specified phrase.

In [46]:
str='i dont like fruits'
a=str.replace('dont','do')
print(a)

i do like fruits

In [47]:
'''multiple replace at a time'''
str=('hello, hello, jello')
a=str.replace('hello','hi')
print(a)

hi, hi, jello

In [48]:
'''if we replace something not present in our string'''
str=('hello, hello, jello')
a=str.replace('guys','hi')
print(a)

hello, hello, jello

### rfind()
Searches the string for a specified value and returns the last position of where it was found

In [49]:
str='hello, name is rambha sahu.'
print(str.rfind('na'))

7

In [50]:
str='hello, name is rambha sahu.'
print(str.rfind('rek'))

-1

In [51]:
str='hello, name is rambha sahu.'
print(str.rfind('h'))

24

### rindex()
Searches the string for a specified value and returns the last position of where it was found

In [52]:
str='hello, name is rambha sahu.'
print(str.rindex('a'))

23

In [53]:
str='hello, name is rambha sahu.'
print(str.rindex('rek'))

ValueError: substring not found

In [54]:
str='hello, name is rambha sahu.'
print(str.rindex('h'))

24

### rpartition()
Returns a tuple where the string is parted into three parts

In [55]:
str='hello kello hello hello jello jello'
str.rpartition('hello')

('hello kello hello ', 'hello', ' jello jello')

In [56]:
str='hello hello hello hello hello hello'
str.rpartition('hello')

('hello hello hello hello hello ', 'hello', '')

### rsplit()
Splits the string at the specified separator, and returns a list

In [57]:
a = "apple, banana, cherry"

x = a.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [58]:
a = "apple, banana, cherry"

x = a.rsplit(", ",1
            )

print(x)

['apple, banana', 'cherry']

### split
Splits the string at the specified separator, and returns a list

In [59]:
a = "apple, banana, cherry"

x = a.split("apple ")

print(x)

['apple, banana, cherry']

In [60]:
a = "apple, banana, cherry"

x = a.split("apple ")

print(x)

['apple, banana, cherry']

In [61]:
a = "apple, banana, cherry"

x = a.split(", ")

print(x)

['apple', 'banana', 'cherry']

### splitlines()
method splits a string into a list. The splitting is done at line breaks.

In [62]:
a= "Thank you for the music\nWelcome to the jungle"

x = a.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [63]:
a= "Thank you \nfor the music \t Welcome \nto the jungle"

x = a.splitlines()

print(x)

['Thank you ', 'for the music \t Welcome ', 'to the jungle']

### startswith()
method returns True if the string starts with the specified value, otherwise False.

In [64]:
str='get to the starting point'
print(str.startswith('g'))
print(str.startswith('g',18))
print(str.startswith('g',18,19))
print(str.startswith('to',4,6))

True
True
True
True

### strip()
method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

In [65]:
str='    drink your milk     '
str.strip()

'drink your milk'

In [66]:
str='😊😊😊😊😊drink your milk😊😊😊😊😊'
str.strip('😊')

'drink your milk'

In [67]:
str='😊😊😊😊😊drink your milk😊😊😊😊😊'
str.strip('🤣')

'😊😊😊😊😊drink your milk😊😊😊😊😊'

### ord()
 returns the Unicode code from a given character. This function accepts a string of unit length as an argument and returns the Unicode equivalence of the passed argument.

In [68]:
print(ord('a'))
print(ord('r'))
print(ord('^'))
print(ord('A'))

97
114
94
65

In [69]:
print(ord('AB'))

TypeError: ord() expected a character, but string of length 2 found

### chr()
method returns a string representing a character whose Unicode code point is an integer.

In [70]:
print(chr(3))
print(chr(97))
print(chr(34))
print(chr(67))
print(chr(200))


a
"
C
È